absl-py==0.9.0
abydos==0.5.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.3
argh==0.26.2
asn1crypto==1.3.0
astroid==2.3.3
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.4.3
Babel==2.8.0
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.1
bitarray==1.2.2
bkcharts==0.2
bleach==3.1.5
bokeh==2.1.0
boto==2.49.0
boto3==1.9.66
botocore==1.12.189
Bottleneck==1.3.2
brotlipy==0.7.0
bz2file==0.98
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1589982006730/work
captum==0.2.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
clyent==1.2.2
colorama==0.4.3
contextlib2==0.6.0.post1
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.20
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1592842333140/work
decorator==4.4.2
deepmatcher==0.1.1
defusedxml==0.6.0
deprecation==2.1.0
diff-match-patch==20181111
dill==0.3.2
distributed @ file:///tmp/build/80754af9/distributed_1592842468712/work
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fasttextmirror==0.8.22
filelock==3.0.12
flake8==3.7.9
Flask==1.1.2
fsspec==0.7.4
future==0.18.2
gensim @ file:///home/conda/feedstock_root/build_artifacts/gensim_1589441213562/work
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-api-core==1.17.0
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1588781939053/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1591635520808/work
googleapis-common-protos==1.51.0
greenlet==0.4.16
grpcio==1.29.0
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
hypothesis==5.16.1
idna==2.9
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.6.1
intervaltree==3.0.2
ipykernel==5.3.0
ipython @ file:///tmp/build/80754af9/ipython_1592348411427/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.2
jeepney==0.4.3
jellyfish==0.8.2
Jinja2==2.11.2
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib==0.15.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.4
jupyterlab-server==1.1.5
keyring==21.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.5.0
libarchive-c==2.9
llvmlite==0.32.1
locket==0.2.0
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592846017414/work
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==6.0.3
numba==0.49.1
numexpr==2.7.1
numpy==1.18.5
numpydoc==1.0.0
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.3
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
pprofile==2.0.4
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.3
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.2
py-entitymatching==0.3.2
py-heat==0.0.6
py-heat-magic==0.0.2
py-stringmatching==0.4.1
py-stringsimjoin==0.3.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.4.4
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPrind==2.11.2
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.3
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.7.0
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.10
python-Levenshtein==0.12.0
pytz==2020.1
PyWavelets==1.1.1
pyxDamerauLevenshtein==1.6
pyxdg==0.26
PyYAML==5.3.1
pyzmq==18.1.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
regex==2020.5.14
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
rope==0.17.0
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1591996208734/work
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.1.13
sacremoses==0.0.43
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.10.1
SecretStorage==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.91
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smart-open==2.0.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1592842202926/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1592842361205/work
spyder==4.1.3
spyder-kernels==1.9.1
SQLAlchemy==1.3.17
-e git+https://github.com/Weyoun2211/di-research.git@eae94dc3d30305db6a9fbf979b064fbbd1a20fb6#egg=src
statsmodels==0.11.1
sympy==1.6
tables==3.6.1
tblib==1.6.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
terminado==0.8.3
testpath==0.4.4
textdistance==4.2.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tokenizers==0.5.2
toolz==0.10.0
torch==1.5.1
torchtext==0.6.0
torchvision==0.6.0a0+35d732a
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
transformers==2.8.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1592847887441/work
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
watchdog==0.10.2
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.0.0
xgboost==1.1.1
xlrd==1.2.0
XlsxWriter==1.2.9
xlwt==1.3.0
yapf @ file:///tmp/build/80754af9/yapf_1592847929485/work
zict==2.0.0
zipp==3.1.0
